### Symfony ###
/.env.local
/.env.local.php
/.env.*.local

/var/
/vendor/

### PHPUnit ###
/phpunit.xml
/phpunit.xml.dist

### Logs ###
*.log

### Cache ###
/var/cache/
/var/log/

### IDE / OS ###
.idea/
.vscode/
.DS_Store
Thumbs.db

### Node / Front ###
/node_modules/
/public/build/

### Excel / fichiers locaux ###
/Test.xlsx
*.xlsx
*.csv

### Backup ###
*.bak
*.tmp
